h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.aboutYou p, .aboutPage {
  text-align: center;
}

img {
  width: 100px; height: 150px;
}

#javascript, #ruby, #python {
  display: none;
}

